{% extends "base_generic.html" %}

{% block content %}

<div style="display: flex; flex-direction: column; align-items: center"> 
	<h1 style="flex-grow: 0;">Dashboard</h1>
	<br>
	<br>
	<div style="display: flex; width: 100%; justify-content: center; align-items: flex-start;">
		<div class="col-sm-3">
			<div class="panel panel-default">
				<div class="panel-heading"> Games You're Playing In </div>
				<div class="panel-body">
					<ul class="list-group" style="list-style-type: none;">
						{% for player in players %}
							<li class="list-group-item">
								<a href="{% url 'home' %}" class="btn btn-mafiapp">{{player.game}}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="panel panel-default">
				<div class="panel-heading"> Games You're GMing </div>
				<div class="panel-body">
					<ul class="list-group" style="list-style-type: none;">
						{% for gm in gms %}
							<li class="list-group-item">
								<a href="{% url 'gm-index' gm.game.id %}" class="btn btn-mafiapp">{{gm.game}}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="panel panel-default">
			<div class="panel-heading"> Games You Can Join </div>
			<div class="panel-body">
				<ul class="list-group" style="list-style-type: none;">
					{% for game in joinable_games %}
						<li class="list-group-item">
							<a href="{% url 'join-game' game.id %}" class="btn btn-mafiapp">Join {{game}}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

	<a href="{% url 'new-game' %}" class="btn btn-mafiapp" style="flex-grow: 0;">Create a new game</a>
</div>
{% endblock %}
