{% extends 'base_generic.html' %}

{% block content %}
	{% if players %}
		<h1>Games You're Playing In</h1>

		<ul class="list-group">

			{% for player in players %} 
				<li class="list-group-player" data-toggle="tooltip" title="{{player.game.name}}">
					<a href="{% url 'player-index' player.game.id %}" class="btn btn-info btn-xs" role="button">{{player.game.name}}</a>
				</li>
			{% endfor %}
		
		</ul>
	{% else %}
		<p>You're not playing in any games.</p>
	{% endif %}

	{% if players %}
		<h1>Games You're GM'ing</h1>

		<ul class="list-group">

			{% for gm in gms %} 
				<li class="list-group-gm" data-toggle="tooltip" title="{{gm.game.name}}">
					<a href="{% url 'gm-index' gm.game.id %}" class="btn btn-info btn-xs" role="button">{{gm.game.name}}</a>
				</li>
			{% endfor %}
		
		</ul>
	{% else %}
		<p>You're not GM'ing any games.</p>
	{% endif %}
{% endblock %}
