{% extends "base_generic.html" %}
{% block content %}
<h1> Live Action Mafia </h1>
<p>Welcome to live action mafia!</p>
<p>Live Action Mafia is like the party game mafia, but played in the literal  space-time continuum. A "day" literally is a day - the 23-hour interval starting at midnight and ending with 
a execution vote at 23:00 each night - but of course some people aren't playing constantly.</p>

<p>Taking an action on a player usually requires going and tapping them on the shoulder. The times and locations of deaths are posted, and people try to deduce who made a kill based on 
who could’ve been there at that time. Players who live near each other often have smaller in-person meetups. If you find yourself not having enough opportunities for in-person 
discussion, say so! Talking (and lying) to other players is a fun and important part of the game.</p>

<p>Game discussion also happens on our forums, <a href="http://mafia.mit.edu">mafia.mit.edu</a>. where everyone posts introductions, talks about what's going on, and game announcements are posted. Mafia have their own 
secret forum. People can also communicate privately with each other and moderators electronically.</p>

<p>Of course, to keep it interesting we give everyone special abilities and items, so be sure to read through all the <a 
href="https://docs.google.com/document/d/1U-Gfwm87RTXZzSkGATZ_HSZpeFTVFAy55UZyS7Tb8D4/edit?usp=sharing">rules</a>.</p>

{% endblock %}
