{% extends "base_generic.html" %}
{% block content %}
<h1> {{player}} </h1>
<h4><a href ="{% url 'playerinbox' player.username %}">Inbox</a></h4>
    {% if attributes %}
    	<table>
      	{% for attribute in attributes %} 
	<tr> 
		<th>{{attribute.itype}}</th>
		<th>{{attribute.value}}</th> 
		<th> <form action="{% url 'changeattribute' attribute.id %}"><input type="submit" value="Change" /> </form> </th>
	</tr>
      	{% endfor %}
	</table>
    {% endif %}

     <h2>Abilities</h2>
    {% if abilities %}
    	<table>

      	{% for ability in abilities %} 
	<tr>
		<th> <a href="{% url 'abilityactivate' ability.id %}"> {{ability.itype}} </a></th>
		<th> {{ability.itype.description}}</th>
		<th> <form action="{% url 'deleteability' ability.id %}"><input type="submit" value="Delete" /> </form> </th>
	</tr>
      	{% endfor %}
	</table>
   	
	</ul>

    {% else %}
      	<p>You have no ablities. Sorry?</p>
    {% endif %}       
    <h2>Inventory</h2>

    {% if items %}
    	<table>

      	{% for item in items %} 
	<tr> 
		<th><a href="{% url 'itemuse' item.id %}">{{item.itype}}</a></th>
		<th>{{item.itype.description}}</th>
		<th> <form action="{% url 'deleteitem' item.id %}"><input type="submit" value="Delete" /> </form> </th>
	</tr>
      	{% endfor %}
   	
	</table>

    {% else %}
      	<p>You have no items. Acquire some?</p>
    {% endif %}       
{% endblock %}
