{% extends "base_generic.html" %}
{% block content %}

<div style="display: flex; flex-direction: column; align-items: center;">
	<h1>{{game}} - {{player}}</h1>
	<br>
	<br>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">Items</div>
			<div class="panel-body">
				<ul class="list-group" style="list-style-type: none;">
					{% for item in items %} 
						<li class="list-group-item" > 
							<a href="{% url 'gm-view-item' item.id %}" class="btn btn-mafiapp">{{item}}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

	</div>
</div>

{% endblock %}