{% extends "base.html" %}

{% block content %}
<h1>Player Home</h1>

  <p>Welcome to <em>LocalLibrary</em>, a very basic Django website developed as a tutorial example on the Mozilla Developer Network.</p>

<h2>Dynamic content</h2>

  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Items:</strong> {{ item_list }}</li>
    <li><strong>Attributes:</strong> {{ attribute_list }}</li>
    <li><strong>Abilities:</strong> {{ ability_list }}</li>
    <li><strong>Goals:</strong> {{ goal_list }}</li>
  </ul>

{% endblock %}
