{% extends "base_generic.html" %}
{% block content %}
<h1> {{player}} </h1>
    {% if attributes %}
    	<table>
      	{% for attribute in attributes %} 
	<tr> 
		<th>{{attribute.itype}}</th>
		<th>{{attribute.value}}</th> 
	</tr>
      	{% endfor %}
	</table>
    {% endif %}

     <h2>Abilities</h2>

    {% if abilities %}
    	<ul>

      	{% for ability in abilities %} 
	<li> <a href="{% url 'abilityinstance' ability.id %}"> {{ability.itype}} </a></li>
      	{% endfor %}
   	
	</ul>

    {% else %}
      	<p>You have no ablities. Sorry?</p>
    {% endif %}       
    <h2>Inventory</h2>

    {% if items %}
    	<ul>

      	{% for item in items %} 
	<li> <a href="{% url 'iteminstance' item.id %}">{{item.itype}}</a></li>
      	{% endfor %}
   	
	</ul>

    {% else %}
      	<p>You have no items. Acquire some?</p>
    {% endif %}       

{% endblock %}
